.logo {
  width: 40%;
  height: 21px;
  order: 2;

  @media (max-width: $tablet-width) {
    order: 0;
  }

  // @media (max-width: $mobile-width) {
  //   padding: 18px 0 14px 16px;
  // }
}

.logo img {
  width: 68px;
  height: 21px;

  @media (max-width: $tablet-width) {
    display: block;
  }
}
