.main-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $white-transparent;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-height: 50px;
    border-bottom: none;
    z-index: 3;
  }

  @media (max-width: $mobile-width) {
    min-height: 30px;
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: $egg-blue;
  }

  &:hover,
  &:focus,
  &:active {
    outline: 1px solid $basic-white;
    box-shadow: 0 0 20px $basic-white;
  }
}

.main-nav--closed span {
  @media (max-width: $tablet-width) {
    position: relative;
    display: inline-block;
    width: 22.5px;
    height: 1px;
    vertical-align: bottom;
    margin: 5.25px 0;
    background: $basic-black;
  }
}

.main-nav--closed span::before,
.main-nav--closed span::after {
  @media (max-width: $tablet-width) {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: $basic-black;
  }
}

.main-nav--closed span::before {
  @media (max-width: $tablet-width) {
    top: 5.25px;
  }
}

.main-nav--closed span::after {
  @media (max-width: $tablet-width) {
    top: -5.25px;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: $tablet-width) {
    display: none;
    min-height: 0;
  }
}

.main-nav--opened {
  @media (max-width: $tablet-width) {
    position: fixed;
    align-items: flex-start;
    height: 100vh;
    padding-top: 99px;
    overflow: auto;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: $basic-white;
  }
}

.main-nav--opened .main-nav__toggle {
  @media (max-width: $tablet-width) {
    background: $basic-white;
  }

  &:hover,
  &:focus,
  &:active {
    outline: 1px solid $egg-blue;
    box-shadow: 0 0 20px $egg-blue-hover;
  }

  &:hover span::before,
  &:hover span::after,
  &:focus span::after,
  &:focus span::before {
    background-color: $egg-blue;
  }

  &:active span::before,
  &:active span::after {
    background-color: $basic-black;
  }
}

.main-nav--opened span {
  @media (max-width: $tablet-width) {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 30px;
    height: 1px;
    margin: 5.25px 0;
    background: transparent;
  }
}

.main-nav--opened span::before,
.main-nav--opened span::after {
  @media (max-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: $special-cross;
  }
}

.main-nav--opened span::before {
  @media (max-width: $tablet-width) {
    transform: rotate(45deg);
  }
}

.main-nav--opened span::after {
  @media (max-width: $tablet-width) {
    transform: rotate(-45deg);
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: $tablet-width) {
    min-height: 360px;
    display: flex;
    background-color: $basic-white;
  }
}

.main-nav--nojs {
  @media (max-width: $tablet-width) {
    position: static;
    width: 100%;
    padding-top: 10px;
    height: auto;
    min-height: 0;
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__list {
  @media (max-width: $tablet-width) {
    width: 100%;
    justify-content: flex-start;
    min-height: 360px;
  }
}

.main-nav--nojs .main-nav__item {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
  }
}
