.page-footer--wrapper {
  width: calc(100% - 875px);
  min-height: 105px;
  min-width: 873px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    width: calc(100% - 210px);
    min-width: 558px;
    min-height: 75px;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    width: calc(100% - 42px);
    min-width: 288px;
    min-height: 95px;
    justify-content: center;
  }
}

.page-footer__link {
  @include font($openSans, normal, 400);
  font-size: 16px;
  line-height: 32px;
  display: block;
  margin: 0 52px 0 36px;
  text-align: center;
  color: $black-transparent;

  @media (max-width: $tablet-width) {
    margin: 0 10px 0 0;
  }

  @media (max-width: $mobile-width) {
    margin: 0 0 0 8px;
  }
}

.page-footer__link--icon-phone {
  @media (max-width: $mobile-width) {
    margin: 0 13px 0 0;
  }
}

.page-footer__link:hover,
.page-footer__link:focus {
  color: $basic-black;
}

.page-footer__link:active {
  color: $egg-blue;
}

.page-footer__link svg {
  margin-right: 15px;
  vertical-align: middle;
  fill: none;
}

.page-footer__link--icon-phone svg {
  margin: 0 11px 3px 0;

  @media (max-width: $mobile-width) {
    margin: 0 10px 7px 0;
  }
}
