.page-header {
  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }
}

.page-header__wrapper {
  position: relative;
  width: calc(100% - 560px);
  min-height: 340px;
  min-width: 873px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-height: 340px;
    min-width: 320px;
  }

  @media (max-width: $mobile-width) {
    min-width: 288px;
    min-height: 30px;
  }
}

.page-header__logo {
  align-self: flex-end;
  margin-bottom: 2px;

  @media (max-width: $tablet-width) {
    margin: 25px 0 10px 21px;
    align-self: flex-start;
  }

  @media (max-width: $mobile-width) {
    margin: 25px 0 10px 17px;
  }
}

.page-header__background {
  min-height: 825px;
  height: 100%;
  background-color: $basic-black;
  background-image: url("../img/promo-bike.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -340px;

  @media (max-width: $tablet-width) {
    height: 340px;
    min-height: 0;
  }

  @media (max-width: $mobile-width) {
    height: 390px;
    margin-top: -85px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-bike@2x.jpg");
    background-size: cover;
    background-position: center;
  }
}

.page-header__background--nojs {
  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}
