// // Colors

$basic-black: #000000;
$basic-white: #ffffff;
$egg-blue: #0ad9c6;
$egg-blue-hover: rgba(10, 217, 198, 0.7);
$special-black: rgba(0, 0, 0, 0.7);
$special-white: rgba(255, 255, 255, 0.7);
$white-transparent: rgba(255, 255, 255, 0.2);
$black-transparent: rgba(0, 0, 0, 0.5);
$nero: #1f1f1f;
$special-gray: #1c1c1c;
$link-water: #c9ccd4;
$black-russian: #131314;
$black-rock: #070707;
$alice-blue: #f6f7f9;
$grey: #48494d;
$special-burger: #f6f6f6;
$special-cross: rgba(20, 21, 23, 0.2);
$error: #ff0000;

// Font

$openSans: "Open Sans", "Arial", sans-serif;

@mixin font($font, $style: normal, $weight: 400) {
  font-family: $font;
  font-style: $style;
  font-weight: $weight;
}

// Viewports

$desktop-width: 1024px;
$tablet-width: 1023.98px;
$mobile-width: 767.98px;
